@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Josefin+Sans&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Cormorant Infant', serif; */

:root {
    --orange-color: #E1B168;
    --dark-black-color: #000;
    --black-color: #292e36;
    --light-black-color: #555;
    --white-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.1s linear;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-weight: 400;
}

/* Global Container Styles */
.container {
    width: 1360px;
    margin: 0 auto;
}

@media screen and (max-width: 1440px) {
    .container {
        width: 94%;
    }
}


/* Global Button Styles */
.global-button {
    text-decoration: none;
    max-width: 295px;
    border: 2px solid var(--orange-color);
    padding: 15px 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--white-color);
}

/* Custom Scrollbar */
*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--black-color);
    -webkit-box-shadow: inset 0 0 6px var(--black-color);
    background-color: #F5F5F5;
}

*::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--black-color);
}