.offers .offers_box {
    display: flex;
    flex-direction: column;
}

.offers .offers_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 0px 0px;
    width: 750px;
    margin: 0 auto;
}

.offers .offers_zaglaviy {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--black-color);
    border-top: 2px solid var(--orange-color);
    border-bottom: 2px solid var(--orange-color)
}

.offers .offers_title {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: var(--black-color);
    padding-top: 12px;
    padding-bottom: 8px;
}

.offers .offers_text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--light-black-color);
}

.offers .offers_bottom {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    padding-top: 40px;
}

.offers .offers_bottom_left {
    width: calc((100% - 30px) / 2);
    background-image: url(../media/images/offers/left-background.svg);
    display: flex;
    justify-content: space-between;
    padding: 39.66px 40px 40.34px 40px;

}

.offers .offers_bottm_inside_left_price_text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: var(--black-color);
}

.offers .offers_bottm_inside_left_price {

    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: var(--black-color);
}

.offers .offers_inside_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/images/offers/left-price-background.svg);
    width: 160px;
    height: 100px;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
}

.offers .offers_inside_nadpisi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    width: 100%;

}

.offers .nadpisi_zaglavie {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: var(--black-color);
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    width: 210px;
}

.offers .nadpisi_title {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: var(--black-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.offers .nadpisi_text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--light-black-color);
    padding-right: 10px;
}

.offers .offers_bottm_inside_main {
    position: relative;
    top: 50px;
}

.offers .offers_bottom_right {
    width: calc((100% - 30px) / 2);
    background-image: url(../media/images/offers/right-background.svg);
    display: flex;
    justify-content: space-between;
    padding: 39.66px 40px 40.34px 40px;
}

.offers .offers_bottm_inside_right_price_text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 10px;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    color: var(--white-color);
}

.offers .offers_bottm_inside_right_price {

    font-family: 'Cormorant Infant';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 66px;
    letter-spacing: 0.2px;
    color: var(--white-color);
}

.offers .offers_inside_price_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../media/images/offers/right-price-background.svg);
    width: 160px;
    height: 100px;
    position: relative;
    top: 20px;
    padding-bottom: 20px;
}

.offers .offers_inside_nadpisi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;

}

.offers .nadpisi_zaglavie {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    color: var(--black-color);
    border-top: 1px solid var(--black-color);
    border-bottom: 1px solid var(--black-color);
    width: 210px;
}

.offers .nadpisi_title {
    font-family: 'Cormorant Infant';
    font-style: normal;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    color: var(--black-color);
    padding-top: 5px;
    padding-bottom: 5px;
}

.offers .nadpisi_text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: var(--light-black-color);
    padding-right: 10px;
}

.offers .offers_bottm_inside_main_right {
    position: relative;
    top: 20px;
}

@media screen and (max-width:1371px) {

    .offers .offers_bottom_left {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 10px 10px 10px;
    }

    .offers .offers_inside_nadpisi {
        align-items: center;
        padding-top: 60px;

    }

    .offers .nadpisi_text {
        text-align: center;
    }

    .offers .offers_inside_price {
        margin: 0 auto;
        margin-top: 30px;
    }

    .offers .offers_bottm_inside_main {
        margin: 0 auto;
    }

    .offers .offers_bottm_inside_main_right {
        margin: 0 auto;
    }

    .offers .offers_bottom_right {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 10px 10px 10px;
    }

    .offers .offers_inside_price_right {
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media screen and (max-width:767px) {

    .offers .offers_top {
        width: 100%;
    }

    .offers_text {
        width: 100%;
    }

    .offers .offers_bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .offers .offers_bottom_left {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 10px 10px 10px;
    }

    .offers .offers_inside_nadpisi {
        align-items: center;
        padding-top: 10px;

    }

    .offers .nadpisi_title {
        line-height: 42px;
        text-align: center;

    }

    .offers .nadpisi_text {
        padding-right: 0px;
    }

    .offers .offers_bottm_inside_main img {
        width: 100%;
    }

    .offers .offers_bottm_inside_main {
        text-align: center;
        padding-bottom: 0px;
        position: static;
    }

    .offers .offers_inside_price {
        left: 0px;
        padding-bottom: 0px;
        margin: 0 auto;
        position: static;
    }

    .offers .nadpisi_text {
        text-align: center;
    }

    .offers .offers_bottom_right {

        display: flex;
        flex-direction: column-reverse;
        padding: 10px 10px 10px 10px;
    }

    .offers .offers_bottm_inside_main_right img {
        width: 100%;
    }

    .offers .offers_bottm_inside_main_right {
        text-align: center;
        padding-bottom: 0px;
        position: static;
    }

    .offers .offers_inside_price_right {
        left: 0px;
        padding-bottom: 0px;
        margin: 0 auto;
        position: static;
    }

    .offers .offers_top {
        width: 100%;
        padding-top: 40px;

    }

}